body
{
	margin: 0;
	background: #fff;
	padding: 0;
}
.navbar
{
	width: 100%;
	background: radial-gradient(circle farthest-corner at right center, #6991FF 0%, #1422A6 100%);
	position: fixed;
}
.logo img{
	position: relative;
	width: 110px;
	height: 80px;
	padding: 10px 0px 10px 30px;
}
.toggler
{
    position: absolute;
    width: 650px;
    height: 100px;
    top: 50%;
    transform: translate(0px, -50px);
    right: 0;
}
.nav-list
{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 35px;
}
.nav-list li
{
	padding: 5px 15px;
	font-size: 1.2em;
}
.nav-list li a
{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.nav-list li a::after
{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: transform 0.4s ease;
	transform-origin: bottom right;
	background-color: #f34d4d;
}
.nav-list li a:hover::after
{
	transform-origin: bottom left;
	transform: scaleX(1);
}